.atomic {
    font-size: 8pt;
    text-align: left;
}

.symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 18pt;
    font-weight: 700;
}

.name {
    position: absolute;
    bottom: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 7pt;
    text-align: center;
}

.periodic-table-element {
    position: relative;
    font-weight: 600;
    padding: 8px;
    min-width: 72px;
    min-height: 72px;
    width: 100%;
    height: 100%;
    -webkit-transition: none;
    transition: none;
    display: block;
    text-transform: none;
}

canvas {
    display: inline-block;
}

.ink{
    height:0;
    width:0;
    border-radius: inherit;
    height: 100%; 
    left: 0px; 
    position: absolute;
    top: 0px;
    width: 100%;
}


.overlay{
    position: fixed;
    z-index: 75;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6,12,13, 0.40);
    cursor: pointer;
    will-change: opacity;
    opacity: 1;
}

.styleElementModal{
    opacity: 1;
    transform: translate(-50%, -50%);
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.modal-page{
    max-width: 288px !important; ;
    max-height: 80% !important; ;
    height: 480px !important; 
    padding: 0;
    overflow: auto;
    will-change: transform;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.modal{

    color: hsla(0,0%,100%,.78);
    fill: hsla(0,0%,100%,.78);
    background-color: #132526;

    z-index: 100;
    position: fixed;
    max-width: 50%; 
    max-height: 50%; 
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 16px;
    border-radius: 4px;
    box-shadow: 10px 10px 11px 10px rgba(0,0,0,0.75);
}

.box{
    
    background-color: #132526;
    color: hsla(0,0%,100%,.78);
    fill: hsla(0,0%,100%,.78);
    height: 100%;
}

.box-header{
    padding: 16px;
    font-weight: 600;
}



.box-body-information{
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
}

.box-body-information:nth-child(2n+1){
    background-color: #112223;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
}

.box-body-information-key{
    font-weight: 600;
    font-size: 10pt;
}

.box-body-information-value{
    margin-left: auto;
}


.element-name{
    font-size: 16pt;
    font-weight: 700;
}

.element-group{
    opacity: .8;
    padding-top: 4px;
    font-size: 13pt;
}



