.footer{

    background-color: #0e1a1b;
    color: #fff;
    fill: #fff;

    min-height: 170px;  /*  56*/
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

}

.title{
    padding-left: 16px;
    font-size: 14pt;
    font-weight: 600;
}

.box-body-information-simple{
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
}

.box-body-information-simple:nth-child(2n+1){
    background-color: #112223;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
}

#settings:hover{
    background-color: #132526 !important;
    box-shadow: 10px 10px 5px 0px rgba(171,71,188,1);
}