.app{
    height: 100%;
    min-height: 100%; 
}

.app-content{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; 
}

html{
    height: 100%;
    line-height: 1.15;
}


.periodic-table {
    color: #fff;
    background-color: #132526;


    overflow: auto;
  /*  display: table; /* table-column-group  */
    width: 100%;
    height: 100%;
}
.table{
    display: table;
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

/*   */


.matrixFrame{
    color: hsla(0,0%,100%,.34);
    background-color: #0e1a1b;
}


.row {
    display: table-row;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 10pt;

    
    
}

.numberOfColumn{
    height: 24px;
    min-width: 72px;
    display: table-cell;
}

.numberOfRow{
    height: 72px;
    min-width: 24px;
    display: table-cell;
}

.vertex{
    display: table-cell;
    height: 24px;
    width: 24px;
}

.Square{
    display: table-cell;
}

.chemicalElement:hover{
    background-color:  #0e1a1b ;
    cursor: pointer;
}


/* button pt-element element transition_metals*/